
:root {
  --btn-border-color: #4c4c4d;
  --link-color: blue;
  --font-agu: "Agu Display", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-momo: "Momo Signature", cursive;
  --font-aguafina: "Aguafina Script", cursive;
  --font-rubik: "Rubik 80s Fade", system-ui;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Fontes Google */
  font-family: var(--font-ubuntu);
  font-size: 0.75rem;

  /* Borda de Desenvolvimento */
  /* border: 1px solid blue; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

h1 {
  font-weight: bold;
  font-size: 0.813rem;
}

header {
  /* margin: 5px 10px 0px; */
  gap: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 15%;
  width: 80%;
}

#logo {
  margin-left: 5px;
  border-radius: 2px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 15%;
  width: 80%;
}

main {
  flex: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea {
  height: 15vh;
  max-width: 180px;
  max-height: 100px;
  overflow-y: auto;
}

textarea.font {
  font-family: var(--font-agu);
}

button:hover {
  opacity: 0.8;
  transform: scale(1.2);
  transition: ease-in-out;
}
 

.input-text {
  width: 160px;
  padding: 1px 3px;
  outline: none;
}

.container-button {
  /* background-color: red; */
  flex-wrap: wrap;
  max-width: 160px;
  padding: 5px 0;

  /* Flexbox */
  display: flex;
  gap: 2px;
  justify-content: space-around;
}

.btn {
  width: 77px;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid var(--btn-border-color);
  cursor: pointer;
}

#link {
  color: var(--link-color);
}
